html {


scroll-behavior: smooth;
  
}

button { 

  background-color:#800000;   
  width: 100%;  
  color: aliceblue;   
  padding: 15px;   
  margin: 10px 0px;   
  border: none;   
  cursor: pointer;

} 
 
header {

  margin-top: 1%;
  height:100%;
  background-color:#800000;
  opacity:2;
  padding: 8px 5px;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;

}

header li {

  margin: 10px;

  text-decoration: none;

}

.logo  {

  margin-top: 1%;
  padding-left:4%;

}

.navigation { 
  background-color:#800000;
  opacity: 2;
  padding: 8px 0;
  margin-top: 4%;
  }

nav>ul {

  margin-left: 10%;
  width:100%;

}

nav li a {

  color: #FFFFFF;

  text-decoration: none;

  text-align: center;
  

}

nav>ul>li{

  list-style: none;
  display: inline;
  padding-right: -1%;
  color: aliceblue;
  margin-inline: 10px;
  width:100%;
  margin-bottom: 5em;
  box-sizing: border-box;
  max-width: 65em;
  justify-content: space-between
}

body {
  text-decoration: none;
  overflow-x: hidden;
  margin: 2;
  padding: 13px;
  background-color: #666666;
  opacity: 2;
  width: 100%;
  height: 100%;

}

h1 {

  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;

}

h2 {

  font: size 20px;

  font-family: arial sans serif;

  color: #ffff;

}

h5{
  color: #FFFFFF;
}

.order {

  background-color: #800000;
  margin-top: 50px;
  color: #FFFFFF;
  height: 64px;
  font-size: 140%;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;

}
  

.box1 {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  width: 200px;
  height: 200px;
  padding-left: 100px;
  padding-right: 120px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.book1,
.book2,
.book3,
.book4,
.book5,
.book6,
.book7,
.book8,
.book9,
.book9,
.book10,
.book11,
.book12,
.book13 {
  background-color: (rgb 120, 127, 127);
  width: 500px;
  height: 900px;
  margin: 200px;

}




.descript {

  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  color: aliceblue;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.btn {
  height: 50px;
  margin: 5px;
  font-size: 15px;
  font-weight: light;
  border: 5px solid maroon;
  opacity: 2;
  border-radius: 5px;
  background-color: #800000;
  color: white;
  width: 100px;
}

h3 {

  color: #800000;
  font-size: 23px;

}

h4 {

  color: #800000;
  font-size: 23px;
}

p {

  color: aliceblue;



}

table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td,
th {

  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
  border-color: #96D4D4;

}

tr:nth-child(even) {

  background-color: #dddddd;

}

tr:hover {

  background-color: #800000;
  opacity: 2;

}
.search-box {
  position:-ms-page;
  background: #FFFFFF;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  
}
.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: white;
  font-size: 16px;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}

footer {
  position: fixed;
  background: #111111;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
}
footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.link-boxes {
  margin-left: 2.8rem;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.logo-details {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_name {
  font-weight: 400;
}
.logo-icon {
  margin-right: 8px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #122122;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
  transform: translateY(-3px);
}
.top .media-icons a:nth-child(2) {
  background: #122122;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
  transform: translateY(-3px);
}
.top .media-icons a:nth-child(3) {
  background: #122122;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
  transform: translateY(-3px);
}
.top .media-icons a:nth-child(4) {
  background: #122122;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
  transform: translateY(-3px);
}
.top .media-icons a:nth-child(5) {
  background: #122122;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
  transform: translateY(-3px);
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 14px;
  position: relative;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 160px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 70px);
  outline: none;
  border: 2px solid #afafb6;
  background: #111111;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.box2 {
  line-height: 1.6rem;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.input-field:focus,
.input-field:not(:placeholder-shown).input-field:not(:focus) {
  transform: translate(-6px, -6px);
  padding: 28px 18px 18px;
  animation: input-animation 0.5s;
}
@keyframes input-animation {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translate(-7px, -7px);
  }
  60% {
    transform: translate(-5px, -5px);
  }
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #232323;
  border: 2px double #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.248) 0px 7px 5px 0px;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
  box-shadow: rgba(253, 253, 253, 0.063) 0px 7px 29px 0px;
  background: #fff;
  color: #232323;
}
footer .bottom-details {
  width: 100%;
  background: #111111;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
  .box {
    margin-bottom: 1rem;
  }
  .link-boxes {
    margin-left: 2rem;
  }
  .policy_terms {
    margin-left: 2rem;
  }
}