* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {


  scroll-behavior: smooth;

}

body {

  /* flex-direction: column;
  display: flex; */
  text-decoration: none;
  overflow-x: hidden;
  margin: 2;
  padding: 13px;
  background-color: #666666;
  opacity: 2;
  width: 100%;
  height: 100%;

}
.search-icon {
 color: black;
}

header {
  margin-top: 1%;
  height: 100%;
  background-color: #800000;
  opacity: 2;
  padding: 25px 5px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

header li {

  margin: 35px;

  text-decoration: none;

}

#logo {
  display: flex;
  margin-top: 5%;
  margin-bottom: 2%;
}

/* #logo>img {
  height:100;
  width: 40px;
  } */

 

.header-btn {
  /* align-self: flex-start; */
  /* margin: 2rem auto 0; */
  /* padding: 1rem 6rem; */
  border-radius:20rem; 
  border: none;
  /* background: rgba(255, 255, 255, 0.5); */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  /* width: 80%; */
}

.header-search {
  padding: 2rem 5rem;
  border-radius: 40px;
  border: none;
  outline: none;
  /* background: none; */
  /* color: #fff; */
  /* display: block; */
}

.head-subname {
  font-size:27px;
  /* line-height: 7.4rem;  */
  letter-spacing: 0.5px;
  width: 100%;
  font-weight: 900;
  color:white;
  text-align: center;
  padding-left: 270px;
  font-family:'Kaushan Script'; 
}



nav {
  color: #fff;
  display: flex;
  background: #800000;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.863);
  transition: 0.35s;
}


nav li a {
  color: #dddddd;

  text-decoration: none;

  text-align: center
}

nav>ul>li {
  color: #fff;
  display: flex;
  list-style: none;
  display: inline-block;
  margin: -0.3px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 3;
  position: relative;
  transition: color 0.5s;
  padding-right: 35px;
  padding-left: 35px;
}


nav ul li::after {
  display: flex;
  content: "";
  background: #fff;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: top 0.6s, opacity 0.6s;
}

nav ul li:hover {
  color: #fff;
}

nav ul li:hover::after {
  top: 50%;
  opacity: 2;
}

h1 {

  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;

}

h2 {

  font: size 20px;

  font-family: arial sans serif;

  color: #ffff;

}

h5 {
  color: #FFFFFF;
}

.order {
  padding: 25px 5px;
  background-color: #800000;
  margin-top: 50px;
  color: #FFFFFF;
  height: 64px;
  font-size: 140%;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  margin-bottom: 50px;
}

.container {

  width:900px; 
  margin:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  padding-right: 5%;
  padding-top: 5%;
  padding: bottom 1px;
  align-items: stretch;
} 

.col {

width: 40%; 

float:left; 
 
margin:30%

}

.sign-in {
  padding-left:850px;
  color:#fff;
  margin-top: 650px;
}


.descript {

  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  color: aliceblue;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.btn {
  height: 50px;
  margin: 5px;
  font-size: 15px;
  font-weight: light;
  border: 5px solid maroon;
  opacity: 2;
  border-radius: 5px;
  background-color: #800000;
  color: white;
  width: 100px;

}

.hover {
  color: #fff;
}

h3 {

  color: #800000;
  font-size: 23px;

}

h4 {

  color: #800000;
  font-size: 23px;
}

p {
  color: aliceblue
}

table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 80px;

}

td,
th {

  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
  border-color: #96D4D4;
  margin: top 50px;

}

tr:nth-child(even) {

  background-color: #dddddd;

}

tr:hover {

  background-color: #800000;
  opacity: 2;

}

/* Footer
-------------------------------------------------------------*/

  .footer {
    font-size: 14px;
    background: #000000;
    margin-top: 20px;
    display: inline-block;
}
.footer__wrapper {
  padding: 8rem 0 3rem;
}

.footer__brand {
  color: white;
  font-size: var(--fs-xl);
  margin-bottom: 1rem;
  font-size:20px;
}

.footer__brand span {
  color: var(--color-primary);
}

.footer__description {
  margin-bottom: 2rem;
  font-size: 20px;
}

.social__list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.social__link {
  font-size: var(--fs-lg);
  color: white;
  transition: var(--transition);
}

.social__link:hover {
  color: var(--color-primary);
}

.footer__title {
  color: var(--color-title);
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  margin-bottom: 2rem;
}

.footer__item {
  margin-bottom: 1rem;
}

.footer__link {
  transition: var(--transition);
}

.footer__link:hover {
  color: var(--color-primary);
}

.footer__copyright {
  text-align: center;
  font-size: var(--fs-sm);
  padding: 3rem 0;
}

.footer__description {
  color:white;
  font-size:15px;
}

/* Newsletter
-------------------------------------------------------------*/
.newsletter__wrapper {
  /* background-color: var(--color-title); */
  background-color: white;
  box-shadow: rgba(33, 33, 35, 0.222) 0px 7px 20px 0px;
  border-radius: var(--border-radius-lg);
  margin-top:20px;
  padding: 4.5rem;
  justify-content: center;
  text-align: center;
  max-width: 80rem;
}

.newsletter__title,
.newsletter__description {
  color: var(--color-white);
  margin-bottom: 2rem;
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border-color: #000000;
}

.form__input {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  color: var(--color-text);
  border-radius: var(--border-radius-sm);
  padding: 1.3rem 1.5rem;
  border: none;
}


/* Scrolltop
-------------------------------------------------------------*/
.scrolltop {
  position: fixed;
  bottom: -100%;
  right: 3rem;
  background-color: var(--color-primary);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--border-radius-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 2.4rem;
  z-index: var(--zindex-fixed);
  opacity: 0;
  transition: var(--transition);
}

.scrolltop:hover {
  background-color: var(--color-primary-light);
}

.scrolltop--show {
  bottom: 3rem;
  opacity: 1;
}

/* Scrollbar
-------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 1rem;
  background-color: rgb(213, 212, 212);
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-light);
}

/* Breakpoints
-------------------------------------------------------------*/

@media screen and (max-width: 600px) {
  .home__title {
    line-height: 5rem;
    font-size: 3.6rem;
  }

  .about__img  {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .home__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__content {
    text-align: initial;
  }

  .home__img {
    justify-self: end;
  }

  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__content {
    text-align: initial;
  }

  .about__img {
    order: -1;
    width: 100%;
    border-radius: 20px;
  }

  .swiper__navigation {
    justify-content: flex-end;
  }

  .discover__wrapper {
    grid-template-columns: repeat(2, max-content);
  }

  .offer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .offer__content {
    text-align: initial;
  }

  .offer__img {
    justify-self: end;
  }

  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 968px) {
  .nav__open,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: initial;
  }

  .destination__wrapper {
    max-width: 85rem;
  }

  .discover__wrapper {
    grid-template-columns: repeat(3, max-content);
  }
  .footer__title{
    color: #fff;
  }
    .copyright {
      color: #fff;

    }


  .discover__item:nth-child(2) {
    transform: translateY(2rem);
  }

  .footer__wrapper {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-items: center;
  }
}
