html {
  
  scroll-behavior:smooth;
}

header {
    background-color:#800000;opacity:2;
    position: sticky;
    top: 5px;
    height: 50px;
    display: flex;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: courier;
    margin-top: 25px;
    margin-right:0;
    margin-left:0;
    width:100%;
  }

  header * {
    display: inline;
    text-decoration: none;
  }

  /* These styles make it appear at the top of the page, on scroll, the Js script at the end of this
  document will remove this class and the div will assume it's position within the page
  */

  .active {
    position:fixed; 
    top:0;
  }

  header li {

    margin: 21px;

    text-decoration: none;

  }

  header li a {

    color: #FFFFFF;

    text-decoration: none;
  }

  ul {
    width:100%;
    margin: 0;
    padding: 0;
  }


  ul,
  ol {

    margin-top: 0;
    margin-bottom: 25px;
  }

    .logo {
      
        margin-top:100px;
        width:100px;
        height:100px;
    }

  body {
    text-decoration: none;
    overflow-x: hidden;
    margin: 2;
    padding: 13px;
    background-color:#808080;opacity:2;
    width:100%;
  }

  h1 {
    
    color: #FFFFFF;
    font-size:25px;
    font-family:courier;
    }

  h2 { 
    
    font-size:25px;
    font-family:arial sans serif;
   }
   

   .active{
  background-color:#800000;opacity:1;
  margin-top:0px;
  color:#FFFFFF;
  height:64px;
  font-size:140%;
  padding:3px;
  text-align:center;
  width: 100%;
  left: 0;
  right: 0;
  }

    .order {
        background-color:#800000;
        margin-top:50px;
        color:#FFFFFF;
        height:64px;
        font-size:140%;
        text-align:center;
        width:100%;
        left: 0;
        right: 0; 
    }

    .box {
      
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
       }

    .image {
           width:200px;
           height:200px;
           padding-left: 100px;
           padding-right: 120px;
           padding-top: 50px;
           padding-bottom: 5px;
        }

.Collection1, .Collection2, .Collection3, .Collection4 {
      background-color:(rgb 120, 127, 127);
      width:  500px;
      height: 900px;
      margin: 200px;
    }
.descript {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: #FOF8FF;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.btn {
  
    width: 100px;
    height: 50px;
    margin: 5px;
    font-size:20px;
    font-weight: light;
    border: 5px solid maroon;opacity 2
    border-radius: 5px;
    background-color:80000;
    color:white;
}

 h3 {

   color: #800000;
   font-size: 23px;

  }

  h4 {

    color: #800000;
    font-size: 23px;
  }

  p {
    
    color:aliceblue;

    font-family:'Courier New', Courier, monospace;
    
    }

  table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }

  td,
  th {

    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
    border-color: #96D4D4;

  }

  tr:nth-child(even) {

    background-color: #dddddd;

  }

  tr:hover {

    background-color: #800000;opacity:2;

  }

  .footer {
    background-color:#800000;
    opacity:1.5;
    color:#FFFFFF;
    text-align:center;
    padding:30px;
    margin-top:7px;
    margin-bottom:40px;
    width: 100%;
  }
