html {


  scroll-behavior: smooth;

}

button { 

  background-color:#800000;   
  width: 100%;  
  color: aliceblue;   
  padding: 15px;   
  margin: 10px 0px;   
  border: none;   
  cursor: pointer;

} 
 

header {

  margin-top: 1%;
  background-color:#800000;
  opacity:2;
  padding: 8px 5px;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;

}

header li {

  margin: 10px;

  text-decoration: none;

}

.logo  {

  margin-top: 4%;
  padding-left:4%;

}


.search-icon {

  margin-top: 4%;
  padding-left:50%;
  margin-bottom: 4%;

}

.navigation { 

  background-color:#800000;
  opacity: 2;
  padding: 8px 0;
  margin-top: 4%;
  }

nav>ul {

  margin-left: 10%;
  width:100%;

}

nav li a {

  color: #FFFFFF;

  text-decoration: none;

  text-align: center;


}

nav>ul>li{
  list-style: none;
  display: inline;
  padding-right: 3%;
  color: aliceblue;
}

body {
  text-decoration: none;
  overflow-x: hidden;
  margin: 2;
  padding: 13px;
  background-color: #666666;
  opacity: 2;
  width: 100%;

}

h1 {

  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;

}

h2 {

  font: size 20px;

  font-family: arial sans serif;

  color: #ffff;

}

.order {

  background-color: #800000;
  margin-top: 50px;
  color: #FFFFFF;
  height: 64px;
  font-size: 140%;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;

}
  

.box {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {

  width: 200px;
  height: 200px;
  padding-left: 100px;
  padding-right: 120px;
  padding-top: 50px;
  padding-bottom: 5px;
  
}

.book1,
.book2,
.book3,
.book4,
.book5,
.book6,
.book7,
.book8,
.book9,
.book9,
.book10,
.book11,
.book12,
.book13 {
  background-color: (rgb 120, 127, 127);
  width: 500px;
  height: 900px;
  margin: 200px;

}




.descript {

  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  color: aliceblue;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.btn {
  height: 50px;
  margin: 5px;
  font-size: 15px;
  font-weight: light;
  border: 5px solid maroon;
  opacity: 2;
  border-radius: 5px;
  background-color: #800000;
  color: white;
  width: 100px;
}

h3 {

  color: #800000;
  font-size: 23px;

}

h4 {

  color: #800000;
  font-size: 23px;
}

p {

  color: aliceblue;



}

table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td,
th {

  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
  border-color: #96D4D4;

}

tr:nth-child(even) {

  background-color: #dddddd;

}

tr:hover {

  background-color: #800000;
  opacity: 2;

}

.footer {

  background-color: #000000;
  opacity: 1.5;
  color: aliceblue;
  text-align: center;
  padding: 90px;
  margin-top: 7px;
  margin-bottom: 40px;
  width: 100%;
  bottom: 0;
  height: 140px;
}
