 /* Accordion styling */


:root {
  --size-header: 2.25rem;
  --size-accordion-title: 1.25rem;
  --size-accordion-content: 1rem;
  --animation-speed: 100;
  --slide-ease: cubic-bezier(0.86, 0, 0.07, 1);
  --slide-duration: calc(400ms * 100 / var(--animation-speed));
  --slide-delay: calc(450ms * 100 / var(--animation-speed));
  --circle-duration: calc(900ms * 100 / var(--animation-speed));
}

*,
*::before,
*::after {
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

a,
p,
h1 {
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: hsl(4, 91%, 60%);
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 2rem 2rem;
  min-height: 100%;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

main > h1 {
  font-size: var(--size-header);
  margin-bottom: 1.25rem;
  color: #fff;
}

::selection {
  background-color: rgba(0, 0, 0, 0.4);
}

.accordion {
  --circle-x: 1.8rem;
  --circle-y: 0;
  --circle-r: 200%;
  --circle-bg: #fff;
  color: #000;

  background-color: var(--circle-bg);
  max-width: 56ch;
  margin-bottom: 1rem;
  border-radius: min(8px, 0.5rem);

  display: grid;
  grid-template-rows: 0fr 0fr;
  transition-timing-function: var(--slide-ease);
  transition-duration: 200ms, 200ms, var(--slide-duration);
  transition-property: opacity, box-shadow, grid-template-rows;
  transition-delay: 0ms, 0ms, var(--slide-delay);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.accordion:not(:target):hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.accordion:not(:target):active {
  opacity: 1;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3);
}

.accordion,
.content {
  overflow: hidden;
}

.accordion:target {
  --d: 90deg;
  grid-template-rows: 0fr 1fr;
  transition: grid-template-rows var(--slide-ease) var(--slide-duration)
    var(--slide-delay);
}

.wrapper {
  padding-block: 0 1.05rem;
  padding-inline: 1.25rem;
  background: #591202 !important;
}

.content {
  font-size: var(--size-accordion-content);
  line-height: 140%;
}

.content p {
  margin-bottom: 1rem;
}

.content a {
  color: currentColor;
  font-weight: 800;
  text-decoration: underline;
}

main :last-child,
.content :last-child {
  margin-bottom: 0;
}

.title a {
  padding: 1rem 1.25rem;
  font-size: 16px !important;
  font-weight: 800;
  color: currentColor;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  place-items: center;
  background: #591202;
}

.title a::before {
  --chevron-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath fill='white' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
  content: "";
  left: 0;
  top: 0;
  width: 0.65rem;
  aspect-ratio: 320 / 512;
  display: inline-block;
  margin-right: 0.75rem;
  transform: rotate(var(--d, 0deg));
  transition: transform var(--slide-ease) var(--slide-duration)
    var(--slide-delay);
  mask-image: var(--chevron-icon);
  mask-size: 100% 100%;
  -webkit-mask-image: var(--chevron-icon);
  -webkit-mask-size: 100% 100%;
  background-color: currentColor;
}

.accordion::before,
.accordion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--circle-bg);
  mix-blend-mode: difference;
  transform-style: preserve-3d;
  transition-timing-function: ease;
  transition-property: opacity, clip-path, visibility;
  pointer-events: none;
  clip-path: circle(var(--r) at var(--circle-x) var(--circle-y));
  border-radius: inherit;
  z-index: 4;
}

.accordion::before {
  --r: 0%;
  transition-delay: var(--circle-duration), var(--circle-duration), 0ms;
  transition-duration: 0ms, var(--circle-duration), 0ms;
  opacity: 0;
}

.accordion:target::before {
  --r: var(--circle-r);
  transition-delay: 0ms, 0ms, 0ms;
  transition-duration: 0ms, var(--circle-duration), 0ms;
  opacity: 1;
}

.accordion::after {
  --r: var(--circle-r);
  transition-delay: 0ms, 0ms, var(--circle-duration);
  transition-duration: 0ms, var(--circle-duration), 0ms;
  visibility: hidden;
  opacity: 1;
}

.accordion:target:after {
  --r: 0%;
  transition-delay: 0ms, 0ms, 0ms;
  transition-duration: 0ms, 0ms, 0ms;
  visibility: visible;
  opacity: 0;
}

.title a:focus-visible {
  background-color: hsl(0, 100%, 90%);
  outline: none;
}

.accordion:target .title a:focus-visible {
  background-color: hsl(183, 100%, 93%);
}


 /* end of Accordion styling */


@media screen and (max-width: 600px) {}
  body {
    padding: 0; /* Remove padding to make better use of small screens */
  }

  #search-bar {
    width: 100%; /* Make the search bar full width on small screens */
    padding: 10px 5px; /* Adjust padding for smaller screens */
  }

  
  header {
    font-size: 5px;
  }

html {


  scroll-behavior: smooth;

}


.Top-notch {
  font-family:'Qwitcher Grypen';
  font-size:35px;
  color:#D9831A;
  opacity:2;
  font-weight:1000;
}

.product-description {
  padding-right:620px;
}

.product-description .full-description {
  display: none;
}

.short-description {
  padding: left 20px;
}

body {

  /* flex-direction: column;
  display: flex; */
  
  text-decoration: none;
  overflow-x: hidden;
  margin: 2;
  padding: 13px;
  background-color:#00020D;
  opacity: 2;
  width: 100%;
  height: 100%;

}

  .head-subname {
    font-size:27px;
    letter-spacing: 0.5px;
    width: 100%;
    font-weight: 900;
    color:#D9831A;
    text-align: center;
    font-family:'Kaushan Script'; 
    }

#search-form {

  margin-top: 20px;
  padding: 200px;
  margin-top:-350px;
  
}

.image-inside {
  max-height: 200px;
  max-width: 200px;
}

#search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 15px;

}

#search-bar:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  padding: 10px 20px;
  background-color:#591202;
  color:#591202;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom:15px;
  font-size: 16px;
}

button:hover {
  background-color:#591202;
}

header {
  
  margin-top: -13%; 
  height:60px;
  background-color: #591202;
  opacity: 2;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: Arial, sans-serif;
  

}

.container mt-4 {
  justify-content:space-around;
}

.card {

  margin-bottom: 20px;
  
}

.card-img-top {
  max-height: 200px;
  object-fit: cover; 
  margin:auto;
  justify-items:center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  padding-right:650px;
  flex-direction: row;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1.275rem;
}

/* Add more custom styles as needed


#logo {
  display: flex;
  margin-top: 5px;
  margin-bottom:2%;
}

/* #logo>img {
  height:100;
  width: 40px;
  } */

 
.header-search {
  padding: 2rem 5rem;
  border-radius: 40px;
  border: none;
  outline: none;
  /* background: none; */
  /* color: #fff; */
  /* display: block; */
}

.head-subname {
  font-size:27px;
  /* line-height: 7.4rem;  */
  letter-spacing: 0.5px;
  width: 100%;
  font-weight: 900;
  color:#D9831A;
  text-align: center;
  padding-left: 270px;
  font-family:'Kaushan Script'; 
}

nav li a {

  color: #dddddd;

  text-decoration: none;

  text-align: center;

  margin-top: -100px;
 
} 

nav>ul>li {

  color: #fff;
  display: inline-block; 
  font-size: 15px;
  cursor: pointer;
  z-index: 3;
  position: relative;
  transition: color 0.5s;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom:300px;

}


  

h1 {

  color: #FFFFFF;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;

}



h2 {

  font: size 20px;

  font-family: arial sans serif;

  color: #ffff;

}

h5 {
  color:#D9831A;
}

.order {

  padding: 25px 5px;
  background-color:#591202;
  margin-top: 50px;
  color:#D9831A;
  font-family:'Kaushan Script';
  height: 64px;
  font-size: 140%;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
  margin-bottom: 50px;
}

.container {

  width:900px; 
  margin:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  padding-right: 5%;
  padding-top: 5%;
  padding: bottom 1px;
  align-items: stretch;
} 

.col {

width: 40%; 

float:left; 
 
margin:30%

}

.sign-in {
  padding-left:850px;
  color:#fff;
  margin-top: 650px;
}

.btn {
  height: 50px;
  margin: 5px;
  font-size: 15px;
  font-weight: light;
  border: 5px solid #591202;
  opacity: 2;
  border-radius: 5px;
  background-color: #591202;
  color: white;
  width: 100px;

}

/* .hover {
  color: #fff;
} */

h3 {

  color:#D9831A;
  font-family:'Kaushan Script';
  font-size:25px;

}

h4 {

  color: #800000;
  font-size: 23px;
}


p {
  color: aliceblue
}

.list {
  color:white;
}

table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 80px;

}

td,
th {

  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
  border-color: #96D4D4;
  margin: top 50px;

}

tr:nth-child(even) {

  background-color: #dddddd;

}

tr:hover {

  background-color: #800000;
  opacity: 2;

}


.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.social__link {
  background-color:black;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.social__link:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}


/* Footer
-------------------------------------------------------------*/

  .footer {
    font-size: 14px;
    background:#591202;
    margin-top: 20px;
    display: inline-block;
}
.footer__wrapper {
  padding: 8rem 0 3rem;
}

.footer__brand {
  color: white;
  font-size: var(--fs-xl);
  margin-bottom: 1rem;
  font-size:20px;
}

.footer__brand span {
  color: var(--color-primary);
}

.footer__description {
  margin-bottom: 2rem;
  font-size: 20px;
}

.social__list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.social__link {
  font-size: var(--fs-lg);
  color: white;
  transition: var(--transition);
}

.social__link:hover {
  color: var(--color-primary);
}

.footer__title {
  color: var(--color-title);
  font-size: var(--fs-lg);
  font-weight: var(--fw-semibold);
  margin-bottom: 2rem;
}

.footer__item {
  margin-bottom: 1rem;
}

.footer__link {
  transition: var(--transition);
}

.footer__link:hover {
  color:var(--color-primary);
}

.footer__copyright {
  text-align: center;
  font-size: var(--fs-sm);
  padding: 3rem 0;
}

.footer__description {
  color:white;
  font-size:15px;
}

* Contact Us Styles */

.contact {
 text-align: center;
 padding: 30px 0;
}

.contact form {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 max-width: 400px;
 margin: 0 auto;
}
.contact input,
.contact textarea {
 width: 100%;
 padding: 10px;
 margin: 5px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.contact button {
 background-color: #007bff;
 color: #fff;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
/* Scrolltop
-------------------------------------------------------------*/
.scrolltop {
  position: fixed;
  bottom: -100%;
  right: 3rem;
  background-color: var(--color-primary);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--border-radius-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 2.4rem;
  z-index: var(--zindex-fixed);
  opacity: 0;
  transition: var(--transition);
}

.scrolltop:hover {
  background-color: var(--color-primary-light);
}

.scrolltop--show {
  bottom: 3rem;
  opacity: 1;
}

/* Scrollbar
-------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 1rem;
  background-color: rgb(213, 212, 212);
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-light);
}

/* Breakpoints
-------------------------------------------------------------*/

@media screen and (max-width: 600px) {
  .home__title {
    line-height: 5rem;
    font-size: 3.6rem;
  }

  .about__img  {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .home__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__content {
    text-align: initial;
  }

  .home__img {
    justify-self: end;
  }

  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__content {
    text-align: initial;
  }

  .about__img {
    order: -1;
    width: 100%;
    border-radius: 20px;
  }

  .swiper__navigation {
    justify-content: flex-end;
  }

  .discover__wrapper {
    grid-template-columns: repeat(2, max-content);
  }

  .offer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .offer__content {
    text-align: initial;
  }

  .offer__img {
    justify-self: end;
  }

  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 968px) {
  .nav__open,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: initial;
  }

  .destination__wrapper {
    max-width: 85rem;
  }

  .discover__wrapper {
    grid-template-columns: repeat(3, max-content);
  }
  .footer__title{
    color: #fff;
  }
    .copyright {
      color: #fff;

    }


  .discover__item:nth-child(2) {
    transform: translateY(2rem);
  }

  .footer__wrapper {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    justify-items: center;
  }
}
